* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  /* font-family: 'DM Sans', sans-serif; */
  font-family: 'Montserrat', sans-serif;
  font-size: 1.6rem;

  height: 100vh;
  width: 100vw;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(45deg, #190361 0%, #b0f 100%);
}

.hide {
  display: none;
}

main {
  border-radius: 0.5rem;
  background: #fff;
  box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.8);

  width: 42.8rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;

  display: flex;
  justify-content: center;
}

.screen1,
.screen2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.screen-title {
  width: 25.8rem;

  margin-bottom: 1.4rem;

  font-size: 2.4rem;
  color: #34355b;
  font-weight: 700;

  text-align: center;
}

.screen-sbutitle {
  font-size: 1.5rem;
  color: #34355b;
  font-family: 'DM Sans', sans-serif;

  text-align: center;

  margin-bottom: 2.6rem;
}

.closed-cookie {
  width: 100%;
  background-color: #fff;
}

.closed-cookie:hover {
  animation-name: move;
  animation-duration: 1s;
  animation-delay: 0.2;
  cursor: pointer;
}

/* screen2 */
.message {
  background: #e4edf1;
  box-shadow: 2px 2px 2px 0px rgba(85, 85, 85, 0.5);

  padding: 1rem;
  text-align: center;

  font-family: 'Dancing Script', cursive;
  font-size: 2.4rem;

  animation: appear;
  animation-duration: 1s;
  animation-delay: 0s;
}

button {
  border: none;
  border-radius: 4px;
  background: #ff9500;
  padding: 1.6rem;
  color: #fff;
  text-align: center;
  font-family: 'DM Sans', sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  cursor: pointer;
}

@keyframes move {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0eg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes appear {
  0% {
    transform: translatey(100px);
  }
  100% {
    transform: translatey(0);
  }
}
